<!-- 共通 Footer -->

<footer id="Footer" class="l-footer">
  <div class="l-section__container">
    <div class="l-footer__wrap">
      <div class="l-footer__company">
        <!-- フッターロゴ -->
        <div class="l-footer__logo">
          <a href="<%= path %>"
            ><img
              class="l-footer__logo__image"
              src="<%= path %>images/common/logo_oakni_estate.png"
              alt="OAKNI ESTATE"
              width="120"
          /></a>
        </div>
      </div>

      <!-- フッターナビゲーション -->
      <div class="l-footer__nav">
        <ul class="l-footer__nav__list">
          <li class="l-footer__nav__item">
            <a href="<%= path %>">トップ</a>
          </li>
          <li class="l-gnav__item">
            <a href="<%= path %>rent">賃貸物件</a>
          </li>
          <li class="l-gnav__item">
            <a href="<%= path %>furniture">家具のリース</a>
          </li>
          <li class="l-gnav__item">
            <a href="<%= path %>company">会社概要</a>
          </li>
          <li class="l-gnav__subitem">
            <a href="<%= path %>documents">必要書類</a>
          </li>
          <li class="l-gnav__item is-contact">
            <a href="<%= path %>contact">お問い合わせ</a>
          </li>
        </ul>

        <div class="l-footer__social">
          <ul class="l-footer__social__list">
            <li class="l-footer__social__item">
              <a href="tel:092-791-3231">
                <img
                  src="<%= path %>images/common/icon_phone.svg"
                  alt="tel"
                  width="30"
                />
              </a>
            </li>
            <li class="l-footer__social__item">
              <a href="">
                <img
                  src="<%= path %>images/common/icon_line.svg"
                  alt="LINE"
                  width="30"
                />
              </a>
            </li>
            <li class="l-footer__social__item">
              <a href="">
                <img
                  src="<%= path %>images/common/icon_instagram.svg"
                  alt="Instagram"
                  width="30"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- コピーライト -->
  <div class="l-copyright">
    <p class="l-copyright__text is-align-center">
      &copy;2024, OAKNI ESTATE, All Rights Reserved.
    </p>
  </div>
</footer>
